<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<bean name="/loginController.htm" class="com.bchain2.controllers.LoginController">
</bean>
<bean name="/signupController.htm" class="com.bchain2.controllers.signupController">
</bean>
<bean name="/homepageController.htm" class="com.bchain2.controllers.HomePageController">
</bean> 
<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix">
		<value>/WEB-INF/jsp/</value>
	</property>
	<property name="suffix">
		<value>.jsp</value>
	</property>
</bean>
</beans>

